name: Workflow Evento
on:
  pull_request:
    branches: ["main"]
jobs:
  teste:
    runs-on: ubuntu-latest
    steps:
      - name: Action de teste
        run: echo "Action executadas apenas em features"
